WEBHOOK_HOST=images-tonadita.plataformabit.com
WEBHOOK_PATH=/webhook/upload
DRIVE_FOLDER_ID=1ABC...XYZ
GOOGLE_CLIENT_ID=....apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=GOCSPX-...
GOOGLE_REFRESH_TOKEN=1//...
